@import "./var";

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;

  .logo {
    width: 48px;
    height: 48px;
    background: url(../assets/logo.svg);
    position: relative;

    &::after {
      content: "";
      position: absolute;
      left: 112px;
      top: 50%;

      background: $white;
      opacity: 0.25;

      height: 1px;
      width: 473px;
    }
  }
  nav {
    display: flex;
    gap: 48px;
    padding: 0 165px 0 124px;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(81.5485px);

    right: 0;
    top: 50%;

    a {
      text-decoration: none;
      color: unset;
      padding: 38px 0;
      transition: 0.3s;
      border-bottom: 3px solid transparent;

      span {
        margin-right: 10px;
        font-weight: bold;
      }

      &.active,
      &.active:hover {
        border-bottom: 3px solid #fff;
      }

      &:hover {
        border-bottom: 3px solid #979797;
      }
    }
  }
}

@media (max-width: 1024px) {
  header {
    &.wrapper {
      padding-left: 38px;
    }
    nav {
      padding: unset;
      gap: 36px;
      padding: 0 48px;

      a {
        font-size: 14px;
        padding: 38px 0;
      }
      span {
        display: none;
      }
    }
    .logo {
      &::after {
        display: none;
      }
    }
  }
}

@media (max-width: 768px) {
  header {
    margin-top: unset;
    &.wrapper {
      padding: 24px;
    }
    nav {
      display: none;
    }
  }
}
